aiohttp==3.7.4.post0
altgraph==0.17.2
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
cycler==0.10.0
future==0.18.2
idna==3.3
irc==19.0.1
iso8601==1.0.2
jaraco.classes==3.2.1
jaraco.collections==3.4.0
jaraco.functools==3.4.0
jaraco.logging==3.1.0
jaraco.stream==3.0.3
jaraco.text==3.6.0
kiwisolver==1.3.1
matplotlib==3.4.2
more-itertools==8.12.0
MouseInfo==0.1.3
multidict==5.2.0
nose==1.3.7
numpy==1.21.0
pefile==2021.9.3
Pillow==8.2.0
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph==0.12.3
PyRect==0.1.4
PyScreeze==0.1.27
PySimpleGUI==4.45.0
pytesseract==0.3.7
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2021.3
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.26.0
simplejson==3.17.2
six==1.16.0
tailer==0.4.1
tempora==4.1.2
tornado==6.1
twitchio==2.1.2
typing_extensions==4.0.0
urllib3==1.26.7
win-unicode-console==0.5
yarl==1.7.2